@model Domain.VehicleFormula

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>VehicleFormula</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.engines)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.engines)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.chassis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.chassis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.doors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.doors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.wheels)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.wheels)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.image)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
